<main class="min-h-screen bg-gray-900 background-grid text-white">
  <div class="p-0 md:p-6 pb-20">

    <app-recorder></app-recorder>

    <h1 class="text-2xl font-bold text-center mb-5">DJ Mixer Console</h1>

    <app-mixer></app-mixer>

    <app-divider
      color="rgba(255,0,255,0.3)"
      thickness="3px"
      orientation="horizontal"
      class="w-full md:w-auto">
    </app-divider>

    <div class="mt-6">
      <app-effects></app-effects>
    </div>

    <app-divider
      color="rgba(255,0,255,0.3)"
      thickness="3px"
      orientation="horizontal"
      class="w-full md:w-auto">
    </app-divider>

    <div class="mt-6">
      <app-library></app-library>
    </div>
  </div>

  <app-player></app-player>
</main>
